
<h2 class="sub-header">Sessions {% if type == 'p' %} proposées {% else %} validées {% endif %}</h2>
{% if sessions|length > 0 %}
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Nom</th>
	      <th>Par qui ?</th>
	      <th>Ou ?</th>
	      <th>Participants</th>
	      <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for session in sessions %}
	    <tr>
	      <td>{{ session.date|date('d/m/Y') }}</td>
	      <td>{{ session.jeu.nom }}</td>
	      <td>{{ session.jeu.hote }}</td>
	      <td>{% if session.jeu.lieu %}{{ session.jeu.lieu }}{% endif %}</td>
	      <td>{{ session.nbParticipants }}</td>
	      <td>      	
		      	{% if session.nbParticipants < session.jeu.nbparticipantmax %}
		      		{% for joueur in session.joueurs if joueur.nom|upper == app.session.get('user_name')|upper %}
	      				<a class="btn btn-warning" href={{ path('rennes_jeux_sondage_desinscription',{'id' : session.id }) }} role="button">Se desinscrire</a>
	      			{% else %}
	      				<a class="btn btn-primary" href={{ path('rennes_jeux_sondage_inscription',{'id' : session.id }) }} role="button">Je veux participer</a>
	      			{% endfor %}
	      		{% else %}
	      			{% for joueur in session.joueurs if joueur.nom|upper == app.session.get('user_name')|upper %}
	      				<a class="btn btn-warning" href={{ path('rennes_jeux_sondage_desinscription',{'id' : session.id }) }} role="button">Se desinscrire</a>
	      			{% else %}
	      				Session Complete
	      			{% endfor %}
		      	{% endif %}
      	  </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
{% else %}
Pas de sessions pour l'instant
{% endif %}

